@model TahDo.Models.TahDoList

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TahDoList</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">CreatedAt</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedAt)</div>

    <div class="display-label">Priority</div>
    <div class="display-field">@Model.Priority</div>

    <div class="display-label">Cost</div>
    <div class="display-field">@String.Format("{0:F}", Model.Cost)</div>

    <div class="display-label">Summary</div>
    <div class="display-field">@Model.Summary</div>

    <div class="display-label">Done</div>
    <div class="display-field">@Model.Done</div>

    <div class="display-label">DoneAt</div>
    <div class="display-field">@String.Format("{0:g}", Model.DoneAt)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
    </p>
}


