@model TahDo.Models.TahDoList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TahDoList</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">CreatedAt</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedAt)</div>

    <div class="display-label">Priority</div>
    <div class="display-field">@Model.Priority</div>

    <div class="display-label">Cost</div>
    <div class="display-field">@String.Format("{0:F}", Model.Cost)</div>

    <div class="display-label">Summary</div>
    <div class="display-field">@Model.Summary</div>

    <div class="display-label">Done</div>
    <div class="display-field">@Model.Done</div>

    <div class="display-label">DoneAt</div>
    <div class="display-field">@String.Format("{0:g}", Model.DoneAt)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id=Model.Id }, new { @class = "button" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
</p>

