@model IEnumerable<TahDo.Models.TahDoItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button" })
</p>
<table id="listGrid">
	<thead>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            CreatedAt
        </th>
        <th>
            Priority
        </th>
        <th>
            Note
        </th>
        <th>
            TahDoListId
        </th>
        <th>
            Done
        </th>
        <th>
            DoneAt
        </th>
    </tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", null, new { id=item.Id }, new { @class = "button" }) 
            @Html.ActionLink("Details", "Details", null, new { id=item.Id }, new { @class = "button" }) 
            @Html.ActionLink("Delete", "Delete", null, new { id=item.Id }, new { @class = "button" })
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @String.Format("{0:g}", item.CreatedAt)
        </td>
        <td>
            @item.Priority
        </td>
        <td>
            @item.Note
        </td>
        <td>
            @item.TahDoListId
        </td>
        <td>
            @item.Done
        </td>
        <td>
            @String.Format("{0:g}", item.DoneAt)
        </td>
    </tr>
}
</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function () {
		$("#listGrid").wijgrid({ allowSorting: true, allowPaging: true, pageSize: 20});
	});
</script>

